.calendar {
    width: 250px;
    height: 330px;
}
.calendar-modal {
    display: none;
    position: absolute;
    background: #fdfdfd;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 2px 3px #ddd
}
.calendar-inner {
    position: relative;
    z-index: 1;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}
.calendar-views {
    transform-style: preserve-3d;
}
.calendar .view {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    *overflow: hidden;
    -webkit-transition: .6s;
    transition: .6s;
}
.calendar-d .view-month,
.calendar-m .view-date {
    transform: rotateY(180deg);
    visibility: hidden;
    z-index: 1;
}
.calendar-d .view-date,
.calendar-m .view-month {
    transform: rotateY(0deg);
    visibility: visible;
    z-index: 2;
}
.calendar-ct,
.calendar-hd,
.calendar-views .week,
.calendar-views .days {
    overflow: hidden;
}
.calendar-views {
    width: 100%;
}
.calendar .view,
.calendar-display,
.calendar-arrow .prev,
.calendar .date-items li {
    float: left;
}
.calendar-arrow,
.calendar-arrow .next {
    float: right;
}
.calendar-hd {
    padding: 10px 0;
    line-height: 30px;
}
.calendar-display {
    font-size: 28px;
    text-indent: 10px;
}
.view-month .calendar-hd {
    padding: 10px;
}
.calendar-arrow,
.calendar-display {
    color: #fff;
}
.calendar li[disabled] {
    color: #fff;
}
.calendar li.old[disabled],
.calendar li.new[disabled] {
    color: #fff;
}
.calendar-display .m,
.calendar-views .week,
.calendar-views .days .old,
.calendar-views .days .new,
.calendar-display:hover,
.calendar-arrow span:hover {
    color: #fff;
}

.calendar-arrow span,
.calendar-views .days li[data-calendar-day],
.calendar-views .view-month li[data-calendar-month] {
    cursor: pointer;
} 
.calendar li[disabled] {
    cursor: not-allowed;
}

.calendar-arrow {
    width: 50px;
    margin-right: 10px;
}
.calendar-arrow span {
    font: 500 26px sans-serif;
}

.calendar ol li {
    position: relative;
    float: left;
    text-align: center;
    border-radius: 50%;
	color: #fff;
}
.calendar .week li,
.calendar .days li {
    width: 40px;
    height: 40px;
    line-height: 40px;
	color: #fff;
}
.calendar .month-items li {
    width: 70px;
    height: 70px;
    line-height: 70px;
}
.calendar .days li[data-calendar-day]:hover,
.calendar .view-month li[data-calendar-month]:hover {
    background: #E84C3D; 
}
.calendar .calendar-views .now {
    color: #fff;
    background: #E84C3D!important;  
}
.calendar .calendar-views .selected {
    color: #fff;
    background: #E84C3D!important; 
}
.calendar .calendar-views .dot {
    position: absolute;
    left: 50%;
    bottom: 4px;
    margin-left: -2px; 
    width: 4px;
    height: 4px;
    background: #E84C3D;
    border-radius: 50%;
}
.calendar-views .now .dot {
    background: #fff;
}

.calendar .date-items {
    width: 300%;
    margin-left: -100%;
}

.calendar-label {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    padding: 5px 10px;
    line-height: 22px;
    color: #fff;
    background: #000;
    border-radius: 3px;
    opacity: .7;
    filter: alpha(opacity=70);
}
.calendar-label i {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -12px;
    width: 0;
    height: 0;
    margin-left: -3px;
    border: 6px solid transparent;
    border-top-color: #000;
}
@media(max-width:1024px){
.calendar-ct {
 width: 275px !important;
}
.view {
	width: 275px !important;
}
div#ca {	
	width: 275px !important;
}
.date-items li{
width: 275px !important;
}
.calendar .week li, .calendar .days li {
    width: 38px !important;
    height: 38px !important;
    line-height: 40px;
    font-size: 0.9em;
}
}
@media(max-width:991px){
.calendar-ct {
	width: 350px !important;
}
.view {
	width: 350px !important;
}
div#ca {	
	width: 350px !important;
}
.date-items li{
	width: 350px !important;
}
}
@media(max-width:800px){
.calendar-ct {
	width: 320px !important;
}
.view {
	width: 320px !important;
}
div#ca {	
	width: 320px !important;
}
.date-items li{
	width: 320px !important;
}
}
@media(max-width:414px){
.calendar-ct {
	width: 265px !important;
	
}
.view {
	width: 265px !important;
}
div#ca {	
	width: 265px !important;
	height: 320px !important;
}
.date-items li{
	width: 265px !important;
}
.calendar-inner{
	width: 265px !important;
}
.calendar .week li, .calendar .days li {
    width: 37px !important;
    height: 37px !important;
}
.calendar .month-items li {
    width: 55px !important;
    height: 55px !important;
    line-height: 59px !important;
}
}