@using MvcKutuphane.Models.Entity;
@model List<TBLKITAP>
@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<html>
<head>
    <title>Yazarın Kitapları</title>
</head>
<body>
    <h2 style="font-weight:bold ; margin-left: 350px; font-family: sans-serif">Kitap Yazarı: @ViewBag.y1</h2>
    <br />
    <table id="tbl1" class="table table-striped">
        <thead>
            <tr style="background-color:#AAAFFA">
                <th>Kitap Adı</th>
                <th>Kategori</th>
                <th>Yayınevi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.AD</td>
                    <td>@x.TBLKATEGORI.AD</td>
                    <td>@x.YAYINEVI</td>
                </tr>
            }
        </tbody>
    </table>
    </body>
</html>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

    <script>
        $('#tbl1').dataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Turkish.json"
            }
        });
    </script>

