@using MvcKutuphane.Models.Entity
@model List<TBLDUYURULAR>
@{ string renk = "";}
@foreach (var x in Model)
{
    if (x.KATEGORI == "Diğer")
    {
        renk = "bg-info text-white";
    }
    else if (x.KATEGORI == "Yeni Kitap")
    {
        renk = "bg-warning text-white";
    }
    else if (x.KATEGORI == "İletişim")
    {
        renk = "bg-success text-white";
    }
    else if (x.KATEGORI == "Kitapları Geciktirmeyin")
    {
        renk = "bg-danger text-white";
    }
    else
    {
        renk = "bg-secondary text-white";
    }
<div class="post @renk">

    <div class="user-block">

        <img class="img-circle img-bordered-sm" src="~/web/img/book.png" alt="user image">

        <span class="username">

            <a href="#" style="color:black">@x.KATEGORI</a>

            <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>

        </span>

        <span class="description" style="color:black"> @Convert.ToDateTime(x.TARIH).ToString("dd.MM.yyyy")</span>

    </div>

    <!-- /.user-block -->

    <p>

       @x.ICERIK

    </p>



    <p>

        

    </p>
</div>
}