@using MvcKutuphane.Models.Entity

@model List<TBLHAREKET>
@{
    ViewBag.Title = "Kitaplarim";
}
<html>
<head>
    <title>Kitap Geçmişim</title>

</head>
<body class="panel-group" style="margin-left:0px">
    <h2>Kitap Geçmişim</h2>
    <br />
    <table id="tbl1" class="table table-striped">
        <thead>
            <tr style="background-color:#AAAFFA">
                <th>Kitap Adı</th>
                <th>Alış Tarihi</th>
                <th>İade Edildiği Tarih</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var k in Model)
            {

                <tr>

                    <td>@k.TBLKITAP.AD</td>
                    <td>@Convert.ToDateTime(k.ALISTARIH).ToString("dd/MM/yyyy")</td>
                    @if (k.UYEGETIRTARIH == null)
                    {
                        <td>Henüz İade Edilmedi</td>

                    }
                    else
                    {
                        <td>@Convert.ToDateTime(k.UYEGETIRTARIH).ToString("dd/MM/yyyy")</td>

                    }
                </tr>

            }
        </tbody>
    </table>
</body>
</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
        $('#tbl1').dataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Turkish.json"
            }
        });
</script>
