@model MvcKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<html>
<head>
    <title >Kategori Güncelle</title>
    <style>
        .input {
            width: 400px;
        }

        .yataydiv {
            display: flex;
        }
    </style>
</head>
<body class="panel-group">
    <div style="margin-top:50px; height:50px;"></div>
    <div class="panel panel-success" style="width: 800px;margin-left:200px">
        <h2 style="font-weight:bold ; margin-left: 250px; font-family: sans-serif">Kategori Güncelle</h2>

        <div class="panel panel-body" style="margin-left:100px">

            @using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
            {
                <div class="yataydiv">

                    <div style=" margin-bottom:15px"></div>
                    <div class="form-group">
                        @*@Html.LabelFor(k=>k.AD)*@
                        <label>YENİ KATEGORİ</label>
                        <div class="input">
                            @Html.TextBoxFor(ktg => ktg.AD, new { @class = "form-control", @style = "background-color:#f1f1f1;" })
                        </div>
                    </div>
                    @Html.HiddenFor(x => x.ID)

                    <div style="padding:25px 15px">
                        <button class="btn btn-warning">Güncelle</button>
                    </div>
                </div>

            }
            </div>
        </div>

</body>
</html>