@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model  List<TBLPERSONEL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@*Data Annotations yapılacak. bunun için Models-Model.tt-TBLPERSONELDE
    sorgu yapılacak, kısıtlama getirilecek. karakter sayısı şu kadar olmalı şeklinde. ders 33*@
<html>
<head>
    <title>Personeller</title>
    
</head>
<body class="panel-group">
    <h2 style="margin-top:15px;font-weight:bold ; margin-left: 350px; font-family: sans-serif"> Personeller </h2>


    <table id="tbl1" class="table table-striped">
        <thead>
            <tr style="background-color:#AAAFFA">
                <th>Sicil Numarası</th>
                <th>PERSONEL ADI</th>
                <th>SİL</th>
                <th>GÜNCELLE</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var prs in Model)
            {
                <tr>
                    <td>@prs.ID</td>
                    <td>@prs.PERSONEL</td>
                    <td>
                        @Html.ActionLink("Sil", "PersonelSil", new { id = prs.ID },
                   new { @class = "btn btn-danger", onClick = "return confirm('Silmek İstiyor musunuz?')" })
                    </td>
                    <td><a href="/Personel/PersonelGetir/@prs.ID/" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
        </tbody>

    </table>

    </body>
</html>
    <a href="/Personel/PersonelEkle" class="btn btn-primary">Yeni Personel Ekle</a>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

    <script>
        $('#tbl1').dataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Turkish.json"
            }
        });
    </script>
