
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şartname</title>
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="~/webregister/css/style.css" type="text/css" rel="stylesheet" media="all">
</head>
<body class="panel panel-group" style="padding:100px 300px 350px 300px; max-width:750px; position:fixed">
    <div class="panel panel-heading">
        <h2 style="font-weight: bold;font-family: sans-serif ;padding: 50px 100px 0px 100px;background-color: #F0F7F5;color: black">
            ÜYELİK ŞARTLARI
        </h2>
        <div class="panel panel-body">
            <p style=" padding: 50px 100px;background-color: #F0F7F5; color:black">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="panel panel-footer">
            <div class="content3">
                <ul>
                    <li><a disabled="disabled" class="" href="#" style="color:black"> Kabul ediyorsanız kayıt ekranında kutucuğu işaretleyin.</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
