@using MvcKutuphane.Models.Entity;
@model List<TBLDUYURULAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    string renk = "";
}

<html>
<head>
    <title>Duyurular</title>
</head>
<body>
    <h2>Duyurular</h2>

    <table id="tbl1" class="table table-bordered">
        <thead>
            <tr style="background-color:#AAAFFA">
                <th>Kategori</th>
                <th>Tarih</th>
                <th>Sil</th>
                <th>İçerik</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prs in Model)
            {

                if (prs.KATEGORI == "Diğer")
                {
                    renk = "bg-info text-white";
                }
                else if (prs.KATEGORI == "Yeni Kitap")
                {
                    renk = "bg-warning text-white";
                }
                else if (prs.KATEGORI == "İletişim")
                {
                    renk = "bg-success text-white";
                }
                else if (prs.KATEGORI == "Kitapları Geciktirmeyin")
                {
                    renk = "bg-danger text-white";
                }
                else
                {
                    renk = "bg-secondary text-white";
                }

                <tr class="@renk">
                    <td>@prs.KATEGORI</td>
                    <td>@Convert.ToDateTime(prs.TARIH).ToString("dd/MM/yyyy")</td>
                    <td>
                        @Html.ActionLink("Sil", "DuyuruSil", new { id = prs.ID }, new
                        {
                            @class = "btn btn-danger",
                   onClick = "return confirm('Silmek İstiyor musunuz?')"
                        })
                    </td>
                    <td><a href="/Duyuru/DuyuruDetay/@prs.ID" class="btn btn-default" style="background-color:skyblue">Detaylar</a></td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a href="/Duyuru/YeniDuyuru/" class="btn btn-primary">Yeni Duyuru Ekle</a>
    </body>
</html>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

    <script>
        $('#tbl1').dataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Turkish.json"
            }
        });
    </script>
