
@{
    ViewBag.Title = "MailBasarili";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <title>Mail Gönderme Başarılı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        body {
            font-family: "Lato", sans-serif;
        }

        .button {
            border: none;
            color: white;
            width: 700px;
            height: 100px;
            position: relative;
            text-decoration: none;
            font-size: 16px;
        }
    </style>
    <meta http-equiv="refresh" content="3;URL=/Odunc/Index/">

</head>
<body>
    <div style="height:200px"></div>

    <h2 style="  position:center;  color: yellowgreen; font-weight:bold ; margin-left: 250px; font-family: sans-serif">Mail Atma İşlemi Başarıyla Gerçekleştirilmiştir..</h2>


</body>

</html>
